# .github/workflows/version.yml
name: Create PDF 
# 53w5

on: [workflow_dispatch]
#  push:
#   branches:
#     - main

jobs:
  node-docker:
    runs-on: ubuntu-latest
    container:
      image: node:14.15.0-alpine3.12
    steps:
       - name: Log the node version
         run: |
           node -v
           cat /etc/os-release
           env
           apk add --no-cache git 
       - name: Checkout
         uses: actions/checkout@v3
       - name: show structure
         run: | 
           ls -la 
           pwd 
       - name: try to push 
         run: |
           echo "hello" > hello.txt 
           git add .
           git commit -am "pdf created" 
           git push
